canvas {
  touch-action: none;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hudWindow {
  user-select: none;
  position: absolute;
  font-size: x-small;
}

.hudItemWindow {
  width: 150px;
  border-radius: 10px;
  border: 3px darkblue solid;
  background-color: lightgray;
  padding: 5px;
  font-family: 'Yusei Magic', sans-serif;
  visibility: hidden;
}

.hudPictureAndName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px black dotted;
}

.hudItemPicture {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
}

.hudItemPicture > img {
  width: 40px;
  height: 40px;
}

.hudItemName {
  flex-grow: 2;
  text-align: center;
}

.hudItemDescription {
  text-align: center;
  border-bottom: 1px black dotted;
}

.hudItemTraitsTitle {
  text-align: center;
}

.hudItemHotbar {
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}

.hudItemHotbarList {
  display: inline;
  list-style-type: none;
  padding: 0px;
}

.hudHotbarItem {
  display: inline;
  list-style-type: none;
  margin-right: 0px;
}

.hudHotbarItem > img {
  border-left: 5px darkblue solid;
  border-top: 5px darkblue solid;
  border-bottom: 5px darkblue solid;
  background-color: darkgray;
}

.hudHotbarItem:last-of-type > img {
  border-right: 5px darkblue solid;
}

.hudHotbarItem.selected > img {
  /*border-color: red;*/
  background-color: white;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.audioControlWrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
  background-color: darkgray;
  user-select: none;
}

.audioRange {
  width: 50px;
}

.rpgTextBox {
  width: 95%;
  margin: auto;
  padding: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  border: 3px blue solid;
  text-align: center;
  background-color: lightgray;
}

.rpgTextBoxPortrait {
  text-align: center;
  margin: 5px;
  height: 190px;
  width: 190px;
}

.rpgTextBoxText {
  flex-grow: 4;
  text-align: left;
  margin: 5px;
  font-family: 'Yusei Magic', sans-serif;
  font-size: xx-large;
}

.rpgTextBoxDismissButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  align-self: flex-end;
}
