canvas {
  touch-action: none;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hudWindow {
  user-select: none;
  width: 200px;
  border-radius: 10px;
  border: 3px darkblue solid;
  background-color: lightgray;
  padding: 5px;
  font-family: 'Yusei Magic', sans-serif;
}

.hudPictureAndName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px black dotted;
}

.hudItemPicture {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
  width: 64px;
  height: 64px;
}

.hudItemPicture > img {
  border-radius: 10px;
  width: 64px;
  height: 64px;
}

.hudItemName {
  flex-grow: 2;
  text-align: center;
}

.hudItemDescription {
  text-align: center;
  border-bottom: 1px black dotted;
}

.hudItemTraitsTitle {
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}
