html, body {
  overflow: none;
}

canvas {
  touch-action: none;
  z-index: 0;
}

canvas, #popup-window-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#popup-window-container {
  pointer-events: none;
  z-index: 1;
  transform-origin: top left;
}

#debug-controls {
  display: none;
  z-index: 2;
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  border: 8px dashed magenta;
}

#welcome {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

body.debug #debug-controls {
  display: inline-block;
}

.hudWindow {
  user-select: none;
  position: absolute;
  font-size: medium;
  pointer-events: initial;
}

.hudItemWindow {
  width: 150px;
  border-radius: 10px;
  border: 3px darkblue solid;
  background-color: lightgray;
  padding: 5px;
  font-family: 'Yusei Magic', sans-serif;
  visibility: hidden;
}

.hudPictureAndName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px black dotted;
}

.hudItemPicture {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
}

.hudItemPicture > img {
  width: 40px;
  height: 40px;
}

.hudItemName {
  flex-grow: 2;
  text-align: center;
}

.hudItemDescription {
  text-align: center;
  border-bottom: 1px black dotted;
}

.hudItemTraitsTitle {
  text-align: center;
}

.hudItemHotbar {
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}

.hudItemHotbarList {
  display: inline-grid;
  list-style-type: none;
  padding: 5px;
  gap: 5px;
  grid-auto-flow: column;
  grid-template-rows: 40px;
  grid-auto-columns: 40px;
  background-color: darkblue;
}

.hudHotbarItem {
  display: inline-block;
  list-style-type: none;
  margin-right: 0px;
  background-color: darkgray;
  position: relative;
}

.hudHotbarItem > img {
  max-width: 100%;
  max-height: 100%;
}

.hudHotbarItem.selected > img {
  /*border-color: red;*/
  background-color: white;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.audioControlWrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
  background-color: darkgray;
  user-select: none;
}

.audioRange {
  width: 50px;
}

.rpgTextBox {
  width: 95%;
  margin: auto;
  padding: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border: 3px blue solid;
  text-align: center;
  background-color: lightgray;
  border-radius: 13px;
}

.rpgTextBoxPortrait {
  text-align: center;
  margin: 5px;
}

.rpgTextBoxText {
  flex-grow: 4;
  text-align: left;
  margin: 5px;
  font-family: 'Yusei Magic', sans-serif;
  width: 95px;
  width: 95px;
}

.rpgTextBoxDismissButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  align-self: flex-end;
}

@media (min-width: 1000px) {

  .rpgTextBox {
    height: 200px;
  }

  .rpgTextBoxText {
    font-size: xx-large;
  }

  .rpgTextBoxPortrait {
    height: 190px;
    width: 190px;
  }
}

#welcome {
  background-color: #F6F6F6;
}

.welcome-footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#welcome-links {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Yusei Magic', sans-serif;
  font-size: medium;
  color: #212121;
  align-self: center;
  margin-right: 5px;
}

.welcome-button-container {
  width: 100%;
  text-align: center;
}

.title-button {
  all: unset;
  user-select: none;
  cursor: pointer;
  font-family: 'Yusei Magic', sans-serif;
  display: block;
  font-size: xxx-large;
  margin: auto;
  color: #212121;
}

.title-button:hover {
  color: #6D9886;
}

.title-button:disabled {
  color: #D9CAB3;
}


